<!DOCTYPE html>
<html lang="en">
  <!-- Including head -->
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Including nav -->
    <%- include("./partials/nav.ejs") %>

    <div class="not-found content">
      <h2>OOPS, page not found :)</h2>
    </div>
    <!-- Including footer -->
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
