<!DOCTYPE html>
<html lang="en">
  <!-- Including head -->
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Including nav -->
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod
        quas nobis! Magni dolorem aspernatur doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod
        quas nobis! Magni dolorem aspernatur doloribus.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod
        quas nobis! Magni dolorem aspernatur doloribus.
      </p>
    </div>
    <!-- Including footer -->
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
